/** cards */
.library-card-top-actions {
  position: absolute;
  top: 10px;
  right: 10px;
}

/** */
.app-notifications-root {
  position: fixed;
  top: 20px;
  left: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.load-more-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
