.search-result-card {
  margin-bottom: 15px;
  margin-top: 15px;
}
.search-result-subtitle {
  margin-bottom: 15px;
}
.search-result-card--saved {
  padding-top: 10px;
}
.search-result-saved-badge {
  position: absolute;
  top: 10px;
  right: 10px;
}
.search-result-card-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.app-notifications-root {
  position: fixed;
  top: 20px;
  left: 0;
}

.load-more-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
